body {
    position: absolute;
    left: 200px;
}

.header {
	background-color: rgb(127, 191, 111);
	position: relative;
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	width: 350px;
	height: 60px;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul {
	color: gold;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

h3 {
	color: white;
	text-align: center;
}

.container {
	display: grid;
	align-content: center;
	height: 100vh;
}

li {
    list-style-type: none;
}

#remove {
	border-color: lightcoral;
	background-color: lightcoral;
	color: white;
	font-size: 18px;
	width: 25px;
	height: 28px;
}

button {
	height: 5vh;
	position: absolute;
	left: 270px;
    width: 80px;
	border-style: solid;
	border-width: 2.5px;
	border-color: rgb(127, 191, 111);
	color: rgb(127, 191, 111);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

input {
	height: 4.1vh;
	width: 32vh;
	position: absolute;
	left: .1px;
	border-width: 2.5px;
	border-style: solid;
	border-color: rgb(127, 191, 111);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

#functionals {
	padding: 60px;
}
